<h1> Movies </h1>
<% @movies.each do |movie| %>
<h3> <p> <%= movie.id  %> </p> </h3>
<p>Name <%= movie.name  %> </p>
<p>Length <%= movie.length  %> </p>
<p>In Theaters <%= movie.in_theaters  %> </p>
<% end  %> 