<h1> Directors IDs </h1>
<% @directors.each do |director| %>
  <h3> <p> <%= director.id  %> </p> </h3>
  <p>name <%= director.name  %> </p>
  <p>Age <%= director.age  %> </p>
  <p>Alive <%= director.alive  %> </p>
  <% end  %> 